<div class="container border border-secondary border-2 rounded p-5" style="margin-top: 100px;">
  <form name="myForm" action="post">
    <h1 style="font-weight: bold;">Inicia la sessió</h1>
    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">E-mail</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" [(ngModel)]="email" id="email"name="email" placeholder="E-mail" required />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Contrasenya</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" [(ngModel)]="password" id="password" name="password" placeholder="Contrasenya" required/>
      </div>
    </div>
    <div class="d-grid gap-2 mt-5">
      <button type="submit" class="btn btn-primary" (click)="login()">Inicia la sessió</button>
    </div>
  </form>
</div>
