<div class="container border border-secondary border-2 rounded p-5" style="margin-top: 100px;">
    <h1>General Access</h1>
    <div class="container border border-secondary border-2 rounded pt-2">
        <div class="row justify-content-md-start ms-5">
            <div class="col-auto">
              <a class="navbar-brand" href="#">
                <img src="../assets/images/portarfirmas.png" alt="" height="50" class="d-inline-block align-text-top">
              </a>
            </div>
            <div class="col-auto pt-2">
                <h1>Log in with password</h1>
            </div>
            <div class="col-auto pt-2">
                <a routerLink="/login-password" routerLinkActive="active" class="btn btn-outline-secondary me-3" style ="margin-left: 565px;" role="button">Login with password</a>
            </div>
        </div>
    </div>
    <div class="container border border-secondary border-2 rounded pt-2" style="margin-top: 50px;">
        <div class="row justify-content-md-start ms-5">
            <div class="col-auto">
              <a class="navbar-brand" href="#">
                <img src="../assets/images/clave.png" alt="" height="50" class="d-inline-block align-text-top">
              </a>
            </div>
            <div class="col-auto pt-2">
                <h1>Log in with cl@ve</h1>
            </div>
            <div class="col-auto pt-2">
                <a routerLink="/login-password" routerLinkActive="active" class="btn btn-outline-secondary me-3" style ="margin-left: 600px;" role="button">Login with cl@ve</a>
            </div>
        </div>
    </div>
</div>