<div class="container mt-5">
    <h1 style="font-size: 250%;">Accés general</h1>
    <div class="container border border-secondary border-2 rounded p-5 mt-5">
        <h1>Trieu la vostra opció d'autenticació preferida</h1>
        <div class="container border border-secondary border-2 rounded">
            <div class="row">
                <div class="col">
                    <img src="../assets/images/portarfirmas.png" alt="" href="#" height="50">
                </div>
                <div class="col-auto">
                    <a routerLink="/login-password" routerLinkActive="active" class="btn btn-outline-secondary mt-2" role="button">Inicieu sessió amb contrasenya</a>
                </div>
              </div>
        </div>
        <div class="container border border-secondary border-2 rounded pt-2" style="margin-top: 50px;">
            <div class="row">
                <div class="col">
                    <img src="../assets/images/clave.png" alt="" href="#" height="50">
                </div>
                <div class="col-auto">
                    <a routerLink="/login-clave" routerLinkActive="active" class="btn btn-outline-secondary" role="button">Inicieu sessió amb cl@ve</a>
                </div>
              </div>
        </div>
    </div>
</div>
