<div class="homePage">
  <div class="main">
    <div class="left">
      <div class="search">
        <input
          type="text"
          class="textSearch"
          placeholder="Escriu alguna cosa"
        />
        <button type="button" class="buttonSearch">
          <img
            class="imgageSearch"
            src="../../assets/images/search-svgrepo-com.svg"
          />
        </button>
      </div>
      <div class="results"></div>
    </div>
    <div class="right">
      <h1 class="headerResults">Resum i documents a signar</h1>
      <div class="docResults"></div>
    </div>
  </div>
  <div class="sign">
    <button type="button" class="signButton">SIGNA</button>
  </div>
</div>
