.home {
  padding-left: 4em;
}

.navbarHome {
  background-color: gray;
  color: white;
  padding: 1em;
  border-style: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 0.5em;
}
.activeBar .navbarHome {
  background-color: lightgray;
  color: black;
  padding: 1em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-style: none;
  margin-right: 0.5em;
}
