<div class="container-fulid mx-5 my-5">
  <div class="row justify-content-between">
    <div
      class="col-4 border border-info border-2 rounded"
      style="height: 750px"
    >
      <div class="d-flex flex-column bd-highlight my-3">
        <div class="p-2 bd-highlight">
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Escriu alguna cosa"
              aria-label="Search"
            />
            <button class="btn btn-info" type="submit">
              <img
                height="25"
                src="../../assets/images/search-svgrepo-com.svg"
              />
            </button>
          </form>
        </div>
        <div class="p-2 bd-highlight">
          <div class="alert alert-warning">
            No hi ha resultats que coincideixin amb els termes empleats.
          </div>
        </div>
      </div>
    </div>
    <div class="col-7 border border-info border-2 rounded">
      <div class="d-flex flex-column bd-highlight my-3">
        <div class="p-2 bd-highlight">
          <h1 class="headerResults">Resum i documents</h1>
        </div>
        <div class="p-2 bd-highlight">
          <!-- PDF a visualitzar -->
        </div>
      </div>
    </div>
  </div>
</div>
